section.stewards {
  padding: 6em 3em;
  max-width: 1400px;
  margin: auto;

  div.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .steward-card {
    user-select: none;
    background-color: var(--space_light);
    cursor: initial;
    position: relative;
  }

  .steward-card:hover {
    animation: colorcycle-shadow-big 3s ease-in-out infinite;
    .steward-details {
      opacity: 1;
    }
  }

  .steward-card.selected {
    background-color: var(--purple_light);
    .steward .text .description {
      display: none;
    }
    .steward .text .selected {
      display: block;
    }
    &:hover {
      .steward-details {
        opacity: 0;
      }
    }
  }

  .steward {
    display: flex;
    align-items: center;

    figure {
      img {
        width: 140px;
        height: 140px;
        display: block;
      }
    }

    .text {
      margin: 0em 1.5em;

      .name {
        color: var(--white);
        font-weight: 500;
      }

      .description {
        font-size: 80%;
        line-height: 160%;
        margin-top: 0.3em;
        margin-bottom: 0.2em;
      }

      .selected {
        color: var(--aqua);
        font-weight: 500;
        display: none;
      }
    }
  }

  .steward-details {
    display: grid;
    margin: auto;
    padding: 1rem 1.5rem;
    // background-color: #0e0333ee;

    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // opacity: 0;

    div.health-wrapper {
      display:flex;
      margin-bottom:1rem;
      align-items: center;
      justify-content: flex-start;
      div.health {
        width: 4px;
        height: 1.5rem;
        margin-right:8px;
        background: var(--aqua_dark);
        opacity:0.5;
      }

      div.health.health-on {
        opacity:1;
        background: var(--aqua);
      }
    }

    div.stats-list {
      ul {
        list-style-type: none;
        li {
          display:flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom:0.75rem;
          img  {
            width: 2rem;
            flex:none;
            margin-right:0.5rem;
          }
          span {
            flex:none;
          }
        }
        div.flex-grow {
          flex: 1 0;
        }
      }
    }

    div.wrapper {
      display: flex;
      justify-content: space-between;
      // margin: auto;
    }

    .btn {
      margin-bottom: 0px;
    }
  }
}

@media #{$tablet} {
  section.stewards {
    padding: 4em 2em;

    div.wrapper {
      grid-template-columns: 1fr;

      .steward-card {
        .steward {
          figure {
            img {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
    }
  }
}

@media #{$phone} {
  section.stewards {
    padding: 2em 1em;

    div.wrapper {
      .steward-card {
        .steward {
          figure {
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
